<div class="container mt-4">
  <h2>Peticiones Públicas</h2>
  <div *ngIf="peticiones.length > 0; else noPeticiones">
    <div *ngFor="let peticion of peticiones" class="card mb-3">
     
        
          <div class="card-body">
            <h5 class="card-title">{{ peticion.titulo }}</h5>
            <p class="card-text">{{ peticion.descripcion }}</p>
            <a [routerLink]="['/peticiones/view', peticion.id]" class="btn btn-danger" style="border-radius: 10px;">Ver más</a>
          </div>
       
     
    </div>

    <!-- Paginación -->
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="goToPage(currentPage - 1)">Anterior</button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
          <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</button>
        </li>
      </ul>
    </nav>
  </div>
  <ng-template #noPeticiones>
    <p>No hay peticiones públicas disponibles.</p>
  </ng-template>
</div>