<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 40rem; border-radius: 10px;">
    <div class="card-body">
      <h1 class="card-title text-center">Crear Petición</h1>
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="titulo">Título</label>
              <input type="text" id="titulo" formControlName="titulo" class="form-control">
            </div>
            <div class="form-group">
              <label for="destinatario">Destinatario</label>
              <input type="text" id="destinatario" formControlName="destinatario" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="categoria_id">Categoría</label>
              <input type="text" id="categoria_id" formControlName="categoria_id" class="form-control">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-danger btn-block mt-3" style="border-radius: 10px;">Crear Petición</button>
      </form>
    </div>
  </div>
</div>